/* media query */

@media only screen and (max-width:1140px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
    transition: all 1.2s ease-in-out;
        height: 470px;
    }

    .rightNav {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    #search {
        width: 100%;
    }

    .btn-sm {
        width: 120px;
        margin: 20px auto;
    }

    .burger-res {
        display: block;
    }

    .h-nav-res {
        height: 80px;
    }

    .visible-res {
        opacity: 0;
    }

    /* box-main */
    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .secondHalf {
        width: 30%;
    }

    .firstHalf {
        margin-top: 18px;
    }

    /* contact-form */
    .form {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* section */
    .section {
        flex-direction: column-reverse;
    }

    .thumbnail img {
    width: 310px;
    }
}